.page {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  background-image: url('/src/assets//images/login-cover.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  position: absolute;
  top: 50%;
  right: 200px;
  transform: translateY(-50%);
  padding: $space-1 * 20;
  background-color: rgba(255, 255, 255, .3);
  box-shadow: 0px 19px 39px  rgb(222, 225, 255);
  backdrop-filter: blur(20px);
  border-radius: $radius-4 * 2;

  .title {
    font-size: 36px;
    text-align: center;
  }

  .label {
    margin-top: $space-3;
    font-size: 20px;
    color: $gray-color;
    text-align: center;
  }
}

.form {
  margin-top: $space-1 * 10;
}

.submit-btn {
  margin-top: $space-2;
}