.sales {
  display: flex;
  gap: $space-4;

  .sales-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $space-3;
    padding: $space-1 * 5;
    border-radius: $radius-1 * 12;

    .sales-icon {
      width: 40px;
    }

    .sales-amount {
      font-size: 24px;
      font-weight: bold;
    }

    .sales-label {
      font-size: 12px;
      color: #4079ED;
    }
  }
}

.subtitle {
  color: $gray-color;
}

.visitor-chart {
  width: 100%;
  height: 250px;
}

.income-chart {
  height: 300px;
}

.status {
  display: flex;
  gap: $space-4;

  .status-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-3;
    text-align: center;

    .status-icon {
      width: 40px;
    }
  }
}