// 销售额
.sales {
  display: flex;
  gap: $space-4;

  .sales-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: $space-3;
    padding: $space-1 * 5;
    border-radius: $radius-1 * 12;

    .sales-icon {
      width: 40px;
    }

    .sales-amount {
      font-size: 24px;
      font-weight: bold;
    }

    .sales-label {
      font-size: 12px;
      color: #4079ED;
    }
  }
}

// 订单状态
.order {
  height: 160px;
  display: flex;
  gap: $space-4;

  .order-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $space-3;
    text-align: center;

    .order-icon {
      width: 40px;
    }
  }
}

// 热门商品
.hot-goods {
  .tr {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
  }

  .th {
    color: $gray-color;
  }

  .td {
    flex: 1;
    display: flex;
    align-items: center;
    padding: $space-4;
  }

  .table-scroll {
    height: 390px;
    overflow-y: auto;
  }
}

.subtitle {
  color: $gray-color;
}

.visitor-chart {
  width: 100%;
  height: 315px;
}

.income-chart {
  height: 300px;
}

.payment-chart {
  height: 160px;
}