.sider {
  height: 100vh;
  background-color: #fff;
}

.header {
  background-color: #fff;
}

.content {
  padding: $space-6;
  box-sizing: border-box;
  height: calc(100vh - 64px - $space-6 * 2);
  overflow-y: auto;
}